sf-rellist-btn {
  /*color: #333;
  margin: 1px;
  padding: 2px 3px;
  border: 1px solid #b5b5b5;
  border-bottom-color: #7f7f7f;
  font-weight: bold;
  font-size: .75em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
*/
  font-size: x-small;
  padding: 3px;
}